body {
    font-family: 'Poppins', sans-serif;
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    background: linear-gradient(to right, #2c3e50, #2980b9);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p,
ul {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: #005C97;
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97);
    border: none;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

button:hover {
    transform: scale(1.05);
}

.option {
    display: block;
    padding: 12px;
    margin: 10px auto;
    width: 90%;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 1.1rem;
    color: white;
}

.option:hover {
    background: rgba(255, 255, 255, 0.3);
}

.hidden {
    display: none;
}